		<h1 class="home_title"><%=homePageTitle %></h1>
		<section class="content">
			<div class="content_center">
				<% for(let ix = 0; ix < 10; ++ix) { %>
				<div class="content_center_child">
					<p class="temp_text"><%=tempText %></p>
				</div>
				<% } %>
			</div>
		</section>