<html>
	<head>
		<title><%=title %></title>
		<meta charset="utf-8" />

		<link rel="stylesheet" href="./../public/css/main.css" />
	</head>
	<body>
		<header>
			<div class="header_center">
				<ul class="header_menu">
					<li class="header_menu_li">
						<a href="#" class="header_menu_links">coding</a>
					</li> 
					<li class="header_menu_li">
						<a href="#" class="header_menu_links">teams</a>
					</li> 
					<li class="header_menu_li">
						<a href="#" class="header_menu_links">users</a>
					</li> 
				</ul>
			</div>
		</header>